*{margin:0;padding: 0 !important;text-transform: capitalize;}
body{font-family: 'Arvo', serif; background-color: #1d1a1a;}

.name{text-align: center;
color:#ffffff;
background-color:#2d6161;
border-radius: 20px !important;}

.col-md-5{background-color:#008b8b;border-radius: 20px;margin-top:5px;padding: 5px;}
.row{display: flex;justify-content: space-evenly;}


li {list-style: none;padding:5px !important;}
h1{padding: 7px !important;color:white;text-align: center;border-radius: 20px;background-color: #292929;}
h2{padding: 7px !important;color:white;text-align: center;border-radius: 20px;background-color: #292929;}
h3{padding: 7px !important;color:white;text-align: center;border-radius: 20px;background-color: #292929;}
h4{padding: 7px !important;color:white;text-align: center;border-radius: 20px;background-color: #292929;}
h5{padding: 7px !important;color:white;text-align: center;border-radius: 20px;background-color: #292929;}
h6{padding: 7px !important;color:white;text-align: center;border-radius: 20px;background-color: #292929;}







p{padding: 5px !important;
    color:white;
    text-align: center;

