*{margin:0;padding: 0 !important;text-transform: capitalize;}
body{font-family: 'Arvo', serif; background-color: #1d1a1a;}

.name{text-align: center;
color:#ffffff;
background-color:#2d6161;
border-radius: 20px !important;}

.col-md-3{background-color:#008b8b;border-radius: 20px;}

.row{display: flex;
justify-content: space-between;}

a{text-decoration:none;color:#00f7ff;padding: 10px !important;}
a li {list-style: none;padding:7px !important;}
p{padding: 7px !important;
    text-align: center;
border-radius: 20px;
background-color: #292929;
}

